<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>man_down_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 18}, {52, 158}}</string>
			<key>spriteOffset</key>
			<string>{3, -7}</string>
			<key>spriteSize</key>
			<string>{52, 158}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 636}, {52, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_down_left1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 18}, {52, 158}}</string>
			<key>spriteOffset</key>
			<string>{3, -7}</string>
			<key>spriteSize</key>
			<string>{52, 158}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 790}, {52, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_down_left2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 23}, {52, 154}}</string>
			<key>spriteOffset</key>
			<string>{3, -10}</string>
			<key>spriteSize</key>
			<string>{52, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 156}, {52, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_down_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 18}, {52, 158}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{52, 158}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 0}, {52, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_down_right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 18}, {52, 158}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{52, 158}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 160}, {52, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_down_right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 23}, {52, 154}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{52, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 156}, {52, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_up_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 18}, {52, 158}}</string>
			<key>spriteOffset</key>
			<string>{3, -7}</string>
			<key>spriteSize</key>
			<string>{52, 158}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 636}, {52, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_up_left1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 18}, {52, 158}}</string>
			<key>spriteOffset</key>
			<string>{3, -7}</string>
			<key>spriteSize</key>
			<string>{52, 158}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 776}, {52, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_up_left2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 23}, {52, 154}}</string>
			<key>spriteOffset</key>
			<string>{3, -10}</string>
			<key>spriteSize</key>
			<string>{52, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492, 0}, {52, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_up_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 18}, {52, 158}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{52, 158}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 776}, {52, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_up_right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 18}, {52, 158}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{52, 158}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 630}, {52, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>man_up_right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 23}, {52, 154}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{52, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 312}, {52, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_down_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 9}, {62, 160}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{62, 160}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 158}, {62, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_down_left1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 9}, {62, 160}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{62, 160}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 474}, {62, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_down_left2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 12}, {62, 156}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{62, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 792}, {62, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_down_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 9}, {62, 160}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{62, 160}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 476}, {62, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_down_right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 9}, {62, 160}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{62, 160}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 158}, {62, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_down_right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 13}, {62, 156}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{62, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 796}, {62, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_up_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 9}, {62, 160}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{62, 160}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {62, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_up_left1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 14}, {62, 156}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{62, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 638}, {62, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_up_left2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 9}, {62, 160}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{62, 160}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 476}, {62, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_up_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 9}, {62, 160}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{62, 160}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 630}, {62, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_up_right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 15}, {62, 154}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{62, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 0}, {62, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stag_up_right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 9}, {62, 160}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{62, 160}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {62, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_down_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 19}, {80, 156}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{80, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 316}, {80, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_down_left1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 19}, {80, 154}}</string>
			<key>spriteOffset</key>
			<string>{-3, -6}</string>
			<key>spriteSize</key>
			<string>{80, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 320}, {80, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_down_left2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {80, 148}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{80, 148}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 476}, {80, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_down_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {80, 156}}</string>
			<key>spriteOffset</key>
			<string>{4, -7}</string>
			<key>spriteSize</key>
			<string>{80, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 0}, {80, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_down_right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {80, 154}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{80, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 320}, {80, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_down_right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 26}, {80, 148}}</string>
			<key>spriteOffset</key>
			<string>{3, -10}</string>
			<key>spriteSize</key>
			<string>{80, 148}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 626}, {80, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_up_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 19}, {80, 156}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{80, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 0}, {80, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_up_left1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 19}, {80, 154}}</string>
			<key>spriteOffset</key>
			<string>{-3, -6}</string>
			<key>spriteSize</key>
			<string>{80, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 474}, {80, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_up_left2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 19}, {80, 156}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{80, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 0}, {80, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_up_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {80, 156}}</string>
			<key>spriteOffset</key>
			<string>{4, -7}</string>
			<key>spriteSize</key>
			<string>{80, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 158}, {80, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_up_right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {80, 154}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{80, 154}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 320}, {80, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>woman_up_right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {80, 156}}</string>
			<key>spriteOffset</key>
			<string>{4, -7}</string>
			<key>spriteSize</key>
			<string>{80, 156}</string>
			<key>spriteSourceSize</key>
			<string>{120, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 162}, {80, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Characters</string>
		<key>textureFileName</key>
		<string>Characters.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>